.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.counter {
  text-decoration: wavy;
  font-size: 7rem;
  text-shadow: 2px 2px 4px #000000;
}
.incButton {
  cursor: pointer;
  background-color: Transparent;
  border: none;
  font-size: 5rem;
  transition: all 0.5s ease;
  outline: none;
}
.incButton:hover {
  color: #ff6f47;
  transform: scale(1.5);
  text-shadow: 1px 1px 2px #ffffff;
}
.decButton {
  cursor: pointer;
  background-color: Transparent;
  border: none;
  font-size: 5rem;
  transition: all 0.5s ease;
  outline: none;
}
.decButton:hover {
  color: #ff6f47;
  transform: scale(1.5);
  text-shadow: 1px 1px 2px #cccccc;
}
* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #0060f0, #0091eb, #00abbb, #7cba9f, #c2c6b9);
  color: white;
  font-family: "Poppins", sans-serif;
}
